<template>
  <table>
    <thead>
    <tr>
      <th>Glyph</th>
      <th>Unicode</th>
      <th>UTF-8</th>
      <th>bytes</th>
    </tr>
    </thead>
    <tbody>
    <slot></slot>
    </tbody>
  </table>
</template>

<script>
export default {
  name: 'CharTable',
};
</script>

<style scoped>
  th {
    font-size: 75%;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
</style>
