<template>
  <tr :class="classes">
    <td class="char" v-html="chars"></td>
    <td class="unicode">
      <span v-for="point in codePoints.asEnumerable()" :key="point.key">
        <ruby>
          {{ point.unicode }}
          <rt class="ruby" v-html="point.ruby"></rt>
        </ruby>
        &#x20;
      </span>
    </td>
    <td class="utf8">{{ utf8hex }}</td>
    <td class="bytes">{{ bytes }}</td>
  </tr>
</template>

<script>
import { CodePointCollection } from './code-point';

export default {
  name: 'CharRow',
  props: {
    unicode: String,
  },
  computed: {
    codePoints() {
      return CodePointCollection.parse(this.unicode);
    },
    unicodes() {
      return this.codePoints.unicode;
    },
    utf8hex() {
      return this.codePoints.utf8hex;
    },
    bytes() {
      return this.utf8hex.length / 2;
    },
    chars() {
      return this.codePoints.char;
    },
    classes() {
      const obj = {};
      obj[`length-${Math.floor(this.bytes / 2)}`] = true;
      return obj;
    },
  },
};
</script>

<style scoped>
  td {
    white-space: nowrap;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  .char {
    font-size: 200%;
  }

  .unicode, .utf8, .bytes {
    font-size: 75%;
  }

  .bytes {
    text-align: right;
  }

  .ruby {
    font-size: 2.5rem;
  }

  .length-8 .unicode, .length-8 .utf8 {
    font-size: 55%;
  }

  .length-8 .ruby {
    font-size: 2.2rem;
  }

  .length-9 .unicode, .length-9 .utf8,
  .length-10 .unicode, .length-10 .utf8 {
    font-size: 45%;
  }

  .length-9 .ruby,
  .length-10 .ruby {
    font-size: 2rem;
  }

  .length-12 .unicode, .length-12 .utf8 {
    font-size: 35%;
  }

  .length-12 .ruby {
    font-size: 1.8rem;
  }

  .length-14 .unicode, .length-14 .utf8 {
    font-size: 25%;
  }

  .length-14 .ruby {
    font-size: 1.3rem;
  }

  .length-20 .unicode, .length-20 .utf8 {
    font-size: 20%;
  }

  .length-20 .ruby {
    font-size: 1rem;
  }
</style>
