<template>
  <section class="reveal">
    <section class="slides">
      <slot></slot>
    </section>
  </section>
</template>

<script>
import Reveal from 'reveal.js';

export default {
  name: 'RevealSlides',
  mounted() {
    Reveal.initialize({
      slideNumber: true,
      width: '100%',
      height: '100%',
      margin: 0,
    });
  },
};
</script>

<style scoped>
</style>
