<template>
  <reveal-slides>
    <section>
      <h1>一文字何バイト?</h1>

      <small>まれに役に立つ知識をあなたに</small>
    </section>

    <section>
      <h2>注意!</h2>

      <ul>
        <li>あまりちゃんと調べてません</li>
        <li>間違った内容が含まれてそうです</li>
        <li>UTF-8 のみ扱います</li>
        <li>環境で変わります!</li>
      </ul>
    </section>

    <section>
      <h2>一文字の長さは最大で何バイト?</h2>
    </section>

    <section>
      <h3>U+0000-U+00FF</h3>

      <p>この範囲は ASCII と同じで一バイト</p>

      <char-table>
        <char-row unicode="U+0031" class="english"></char-row>
        <char-row unicode="U+005C" class="english"></char-row>
      </char-table>
    </section>

    <section>
      <h3>U+0080-U+07FF</h3>

      <p>
        ラテン系・キリル文字・アラビア文字・記号など
      </p>

      <char-table>
        <char-row unicode="U+00A3"></char-row>
        <char-row unicode="U+00A5"></char-row>
      </char-table>
    </section>

    <section>
      <h3>U+0800-U+FFFF</h3>

      <p>主要な漢字・かな・ハングルなどはここ</p>

      <char-table>
        <char-row unicode="U+6C38"></char-row>
      </char-table>
    </section>

    <section>
      <h3>U+10000-U+10FFFF</h3>

      <p>BMP 面 (-U+FFFF) に入りきれなくなったので追加された</p>

      <char-table>
        <char-row unicode="U+10380"></char-row>
        <char-row unicode="U+2B001"></char-row>
      </char-table>
    </section>

    <section>
      <h3>これくらいは基礎知識だよね...?</h3>
    </section>

    <section>
      <h2>異体字セレクタ</h2>
    </section>

    <section>
      <h3>なんとかつかさん</h3>

      <char-table>
        <char-row unicode="U+585A"></char-row>
        <char-row unicode="U+585A U+E0100"></char-row>
        <char-row unicode="U+585A U+E0101"></char-row>
        <char-row unicode="U+585A U+E0102"></char-row>
      </char-table>
    </section>

    <section>
      <h2>合字 (リガチャ)</h2>
    </section>

    <section>
      <h3>普通のやつ</h3>
      <char-table>
        <char-row unicode="U+0075 U+0308 U+0304" utf8="75CC88CC84"></char-row>
        <char-row unicode="U+304B U+3099" utf8="E3818BE38299"></char-row>
        <char-row unicode="U+0031 U+20DD" utf8="E3818BE38299"></char-row>
      </char-table>
    </section>

    <section>
      <h2>音符</h2>
    </section>

    <section data-transition="fade-in fade-out">
      <h3>全音符</h3>
      <char-table>
        <char-row unicode="U+1D157"></char-row>
      </char-table>
    </section>

    <section data-transition="fade-in fade-out">
      <h3>二分音符</h3>
      <char-table>
        <char-row unicode="U+1D157 U+1D165"></char-row>
      </char-table>
    </section>

    <section data-transition="fade-in fade-out">
      <h3>四分音符</h3>
      <char-table>
        <char-row unicode="U+1D158 U+1D165 U+1D16E"></char-row>
      </char-table>
    </section>

    <section data-transition="fade-in fade-out">
      <h3>32分音符</h3>
      <char-table>
        <char-row unicode="U+1D158 U+1D165 U+1D170"></char-row>
      </char-table>
    </section>

    <section data-transition="fade-in fade-out">
      <h3>トレモロ</h3>
      <char-table>
        <char-row unicode="U+1D158 U+1D165 U+1D170 U+1D167"></char-row>
      </char-table>
    </section>

    <section data-transition="fade-in fade-out">
      <h3>アクセント</h3>
      <char-table>
        <char-row unicode="U+1D158 U+1D165 U+1D170 U+1D167 U+1D17B"></char-row>
      </char-table>
    </section>

    <section data-transition="fade-in fade-out">
      <h3>付点</h3>
      <char-table>
        <char-row unicode="U+1D158 U+1D165 U+1D170 U+1D167 U+1D17B U+1D16D"></char-row>
      </char-table>
    </section>

    <section>
      <h3>際限ないから次行こう!</h3>
    </section>

    <section>
      <h2>絵文字</h2>
    </section>

    <section>
      <h3>肌の色を変える</h3>
      <char-table>
        <char-row unicode="U+1F3C3"></char-row>
        <char-row unicode="U+1F3C3 U+1F3FF"></char-row>
      </char-table>
    </section>

    <section>
      <h3>くっつける</h3>
      <char-table>
        <char-row unicode="U+1F1EF U+1F1F5"></char-row>
        <char-row unicode="U+1F431 U+200D U+1F464"></char-row>
        <char-row unicode="U+1F3F4 U+E0067 U+E0062 U+E0065 U+E006E U+E0067 U+E007F">
        </char-row>
      </char-table>
    </section>

    <section>
      <h2>最後にすごいのを!</h2>
    </section>

    <section data-transition="fade-out">
      <h3>男性</h3>
      <char-table>
        <char-row unicode="U+1F468"></char-row>
      </char-table>
    </section>

    <section data-transition="fade-in fade-out">
      <h3>結婚した!</h3>
      <char-table>
        <char-row unicode="U+1F468 U+200D U+1F469"></char-row>
      </char-table>
    </section>

    <section data-transition="fade-in fade-out">
      <h3>男の子が生まれた!</h3>
      <char-table>
        <char-row unicode="U+1F468 U+200D U+1F469 U+200D U+1F466"></char-row>
      </char-table>
    </section>

    <section data-transition="fade-in fade-out">
      <h3>女の子が生まれた!</h3>
      <char-table>
        <char-row unicode="U+1F468 U+200D U+1F469 U+200D U+1F466 U+200D U+1F467"></char-row>
      </char-table>
    </section>

    <section data-transition="fade-in fade-out">
      <h3>肌の色を変える!</h3>
      <char-table>
        <!-- eslint-disable-next-line -->
        <char-row unicode="U+1F468 U+1F3FF U+200D U+1F469 U+1F3FB U+200D U+1F466 U+1F3FD U+200D U+1F467 U+1F3FE">
        </char-row>
      </char-table>
    </section>

    <section>
      <h2>なんか無限にいけそうね!</h2>
    </section>

    <section>
      <h2>お粗末様でした!</h2>
    </section>
  </reveal-slides>
</template>

<script>
export default {
  name: 'app',
};
</script>

<style lang="scss">
  body, .reveal, .reveal * {
    font-family: 'Yu Mincho', 'YuMincho', serif !important;
  }

  .reveal table th, .reveal table td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .english .char, .english .ruby {
    font-family: 'georgia', serif !important;
  }
</style>
